# Ignora tutti i file .log in qualsiasi directory
*.log

# Ignora directory
test/
logs/
**/logs/
.logs/
**/.logs/
.vscode/
.vscode/*

# Ignora la directory payloads_oper (ovunque si trovi)
payloads_oper/
**/payloads_oper/
