# Ignora tutti i file .log in qualsiasi directory
*.log

# Ignora directory
logs/
**/logs/
.logs/
**/.logs/
.vscode/

# Ignora la directory payloads_oper (ovunque si trovi)
payloads_oper/
**/payloads_oper/
